* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:linear-gradient(20deg, rgb(9, 6, 56),rgb(2, 0, 32));
    backdrop-filter: blur(20px);
    box-shadow: 0px 0.5px 0px #090120;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    height:90px ;
    margin: 0;
}

.navbar ul li {
    list-style-type: none;
}
.navbar button{
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(90deg, #ff7e5f,#feb47b);
    color: white;
    -ms-wrap-flow: b;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 23px;
    color: #e1f3fa;
    transition: 0.3s ease;
    position: relative;
}
.navbar a::after{
    content: "";
    background: rgb(252, 252, 252);
    width: 0;
    height: 1px;
    position: absolute;
    transition: .5s ease;
    left: 0;
    bottom: -3px;
}
.navbar a:hover::after{
    width: 100%
}

.navbar ul {
    display: flex;
    gap: 20px;
    margin-inline-end: 20px;
    align-items: center;
}

.navbar ul li a:hover {
    color: #fdfdff;
}

.logo {
    font-size: 50px;
    margin-inline-start: 70px;
    cursor: none;
    color: #ffe7e7;
}

.btn {
    width: 80px;
    padding: 7px;
    border-radius: 15px;
    font-size: 17px;
    border: 1px solid #fff;
}
.image {
    width: 350px;
    height: 350px;
    background: #ffffff;
    margin: 0px 30px;
    border-radius: 50%;
    top: 115px ;
    position: relative;
}
.hero{
     background: linear-gradient(120deg, rgb(1, 0, 20),rgb(1, 25, 70));
     top: 0;
     height: 50rem;
}

.heroSection{
    font-size: 30px;
    color: #ffff;
    top: -160px;
    left: 390px;
    position: relative;
    width:49%;
}
.id{
    font-size: 50px;
}
section{
    font-size: 30px;
    top: -310px;
    position: relative;
    color: #222; 
    align-items: center;
    width: 100%;   
    margin: auto;
    background: #ebeef1;
    padding: 20px;
}
.education,
.intern,
.degree{
    background: #fafafa;
    border-radius: 30px;
    box-shadow: 7px 10px 6px rgb(105, 106, 107);
    padding: 30px;
    margin: auto;
    margin-bottom: 25px;
    width: 70%;
}
section h3{
    color: #161616;
    justify-content: center;
    display: flex;
    margin: 10px 0 ;
}
.skill-item {
    background:  #0a192f;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 1px 1px 10px 10px;
    font-size: 20px;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}
article{
    position: relative;
    top: -330px;
    height: 240px;
    background:#f5f5ff;
    padding: 20px;
}
article h2{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 10px 0;
}
#contact{
    height: 170px;
    font-size: 30px;
    background: linear-gradient(130deg,#e1f3fa,#fff);
    top: -340px;
    text-align: center;
}
#contact p{
    font-size: 20px;
}
.contact-links a {
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 25px;
    top: -340px;
    position: relative;
    background: #fafbfc;
    height: 10px;
}